<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Courier Management</title>
<style>
body{
background-image: url('/images/courier.jpg');

}
h1,h6{
color:white;
font-style: italic;
}



</style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="navbar-brand text-white" href="#">Courier Service</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link text-white" href="/usersf">Home</a>
				</li>
			</ul>
			<div>
				<a class="nav-link text-white" href="usersregister">Register</a>
				<a class="nav-link text-white" href="userslogin">Login</a>
			</div>
		</div>
	</nav>
	<div class="container text-center my-5">
		<h1>Customer LOGIN/REGISTER</h1>
		<h6>Customers are the backbone of any business, serving as the primary source of revenue and growth. 
		Their needs, preferences, and feedback shape the products and services offered, making it essential 
		for businesses to prioritize exceptional customer service. Building strong relationships with customers
		 through personalized experiences, attentive support, and reliable service fosters loyalty and trust, 
		 driving long-term success and positive word-of-mouth.In essence, customers not only fuel the business
		  but also help in refining and evolving it to better meet market demands.</h6>
			
	</div>
	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>